﻿@model DemoProject.Entities.Position

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Position</h4>

<div class="card">
    <div class="card-body">
        <div class="form-group mb-3">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="PositionName" class="control-label"></label>
                            <input asp-for="PositionName" class="form-control" />
                            <span asp-validation-for="PositionName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="reset" value="Cancel" class="btn btn-warning w-100" />
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" value="Create" class="btn btn-info w-100" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
