﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<DemoProject.Models.ApplicationUser> _signInManager
@inject UserManager<DemoProject.Models.ApplicationUser> _userManager
@{
    var user = await _userManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/assets/img/favicon.ico" type="image/x-icon" />
    <title>@ViewData["Title"] - DemoProject</title>

    <!-- Required CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap">
    <link rel="stylesheet" href="~/assets/css/simplebar.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/sidebar-dark.css" id="sidebar-theme"> <!-- available themes: dark, light, cyan, green, indigo, red -->
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="preloading">
    <!-- Wrapper -->
  <div id="wrapper" class="fixed-sidebar fixed-navbar">
    <!-- available options: fixed-sidebar, fixed-navbar, fixed-footer, mini-sidebar -->

    <!-- Sidebar -->
    <div class="offcanvas offcanvas-start navbar-dark text-nowrap" tabindex="-1" id="sidebar" aria-label="sidebar">

      <div class="offcanvas-header px-3">
        <a href="javascript:void(0)" class="logo nav-link px-0 d-flex align-items-center">
          <svg width="24" height="24" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="90" height="90" rx="25" fill="#6366F1" />
            <path d="M63.312 29.16C63.568 29.64 63.712 30.072 63.744 30.456C63.808 30.84 63.84 31.4 63.84 32.136V58.776C63.84 60.984 63.232 62.28 62.016 62.664C61.408 62.856 60.64 62.952 59.712 62.952C58.784 62.952 58.048 62.872 57.504 62.712C56.96 62.552 56.544 62.36 56.256 62.136C55.968 61.912 55.744 61.592 55.584 61.176C55.424 60.632 55.344 59.8 55.344 58.68V42.6C54.544 43.592 53.376 45.176 51.84 47.352C50.304 49.496 49.328 50.84 48.912 51.384C48.496 51.928 48.208 52.312 48.048 52.536C47.888 52.728 47.488 53.016 46.848 53.4C46.24 53.752 45.568 53.928 44.832 53.928C44.128 53.928 43.472 53.768 42.864 53.448C42.288 53.096 41.872 52.76 41.616 52.44L41.232 51.912C40.592 51.112 39.328 49.416 37.44 46.824C35.552 44.2 34.528 42.792 34.368 42.6V58.776C34.368 59.512 34.336 60.072 34.272 60.456C34.24 60.808 34.096 61.208 33.84 61.656C33.36 62.52 32.112 62.952 30.096 62.952C28.144 62.952 26.928 62.52 26.448 61.656C26.192 61.208 26.032 60.792 25.968 60.408C25.936 60.024 25.92 59.448 25.92 58.68V32.04C25.92 31.304 25.936 30.76 25.968 30.408C26.032 30.024 26.192 29.592 26.448 29.112C26.928 28.28 28.176 27.864 30.192 27.864C31.056 27.864 31.792 27.976 32.4 28.2C33.04 28.392 33.456 28.6 33.648 28.824L33.936 29.112L44.832 43.416C50.272 36.216 53.904 31.464 55.728 29.16C56.272 28.296 57.552 27.864 59.568 27.864C61.616 27.864 62.864 28.296 63.312 29.16Z" fill="white" />
          </svg>
          <span class="h5 mb-0 text-reset ms-3">Barcelona FC</span>
        </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body px-2 py-3 h-100" data-simplebar>
        <ul class="navbar-nav mb-4" id="mainMenu">          
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 active" asp-controller="Home" asp-action="Index">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg>
                <span class="me-auto">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3" asp-controller="Player" asp-action="Index">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
              <span>Players</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3" asp-controller="Position" asp-action="Index">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
              </svg>
              <span>Position</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3" asp-controller="User" asp-action="Index">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
              <span>User</span>
            </a>
          </li>
          @*<li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3" href="file-manager.html">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
              </svg>
              <span>File manager</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3" href="forum.html">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
              </svg>
              <span>Forum</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3" href="invoice.html">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg>
              <span>Invoice</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3" href="photos.html">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
              <span>Photos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3" href="pricing.html">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
              </svg>
              <span>Pricing</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3" href="todo.html">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
              </svg>
              <span>Todo</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 dropdown-toggle" href="#blog-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="blog-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
              </svg>
              <span class="me-auto">Blog</span>
            </a>
            <div class="ms-5 collapse" id="blog-collapse" data-bs-parent="#mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="post-all.html">All posts</a></li>
                <li class="nav-item"><a class="nav-link" href="post-new.html">Add new post</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-label px-2 small mt-3"><small>PAGES</small></li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 dropdown-toggle" href="#authentication-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="authentication-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
              </svg>
              <span class="me-auto">Authentication</span>
            </a>
            <div class="ms-5 collapse" id="authentication-collapse" data-bs-parent="#mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="signin.html">Sign in</a></li>
                <li class="nav-item"><a class="nav-link" href="register.html">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="forgot-password.html">Forgot password</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 dropdown-toggle" href="#error-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="error-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span class="me-auto">Error</span>
            </a>
            <div class="ms-5 collapse" id="error-collapse" data-bs-parent="#mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="error-404.html">Page not found</a></li>
                <li class="nav-item"><a class="nav-link" href="error-500.html">Internal server error</a></li>
                <li class="nav-item"><a class="nav-link" href="error-503.html">Service unavailable</a></li>
                <li class="nav-item"><a class="nav-link" href="error-505.html">Forbidden access</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 dropdown-toggle" href="#user-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="user-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
              <span class="me-auto">User</span>
            </a>
            <div class="ms-5 collapse" id="user-collapse" data-bs-parent="#mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="user-settings.html">User settings</a></li>
                <li class="nav-item"><a class="nav-link" href="user-list.html">User list</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-label px-2 small mt-3"><small>BOOTSTRAP</small></li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 dropdown-toggle" href="#content-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="content-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
              </svg>
              <span class="me-auto">Content</span>
            </a>
            <div class="ms-5 collapse" id="content-collapse" data-bs-parent="#mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="typography.html">Typography</a></li>
                <li class="nav-item"><a class="nav-link" href="images.html">Images</a></li>
                <li class="nav-item"><a class="nav-link" href="tables.html">Tables</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 dropdown-toggle" href="#components-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="components-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
              </svg>
              <span class="me-auto">Components</span>
            </a>
            <div class="ms-5 collapse" id="components-collapse" data-bs-parent="#mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="accordion.html">Accordion</a></li>
                <li class="nav-item"><a class="nav-link" href="alerts.html">Alerts</a></li>
                <li class="nav-item"><a class="nav-link" href="badge.html">Badge</a></li>
                <li class="nav-item"><a class="nav-link" href="breadcrumb.html">Breadcrumb</a></li>
                <li class="nav-item"><a class="nav-link" href="buttons.html">Buttons</a></li>
                <li class="nav-item"><a class="nav-link" href="button-group.html">Button group</a></li>
                <li class="nav-item"><a class="nav-link" href="card.html">Card</a></li>
                <li class="nav-item"><a class="nav-link" href="carousel.html">Carousel</a></li>
                <li class="nav-item"><a class="nav-link" href="collapse.html">Collapse</a></li>
                <li class="nav-item"><a class="nav-link" href="dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"><a class="nav-link" href="list-group.html">List group</a></li>
                <li class="nav-item"><a class="nav-link" href="modal.html">Modal</a></li>
                <li class="nav-item"><a class="nav-link" href="navs-tabs.html">Navs and tabs</a></li>
                <li class="nav-item"><a class="nav-link" href="navbar.html">Navbar</a></li>
                <li class="nav-item"><a class="nav-link" href="offcanvas.html">Offcanvas</a></li>
                <li class="nav-item"><a class="nav-link" href="pagination.html">Pagination</a></li>
                <li class="nav-item"><a class="nav-link" href="placeholders.html">Placeholders</a></li>
                <li class="nav-item"><a class="nav-link" href="popovers.html">Popovers</a></li>
                <li class="nav-item"><a class="nav-link" href="progress.html">Progress</a></li>
                <li class="nav-item"><a class="nav-link" href="scrollspy.html">Scrollspy</a></li>
                <li class="nav-item"><a class="nav-link" href="spinners.html">Spinners</a></li>
                <li class="nav-item"><a class="nav-link" href="toasts.html">Toasts</a></li>
                <li class="nav-item"><a class="nav-link" href="tooltips.html">Tooltips</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 dropdown-toggle" href="#forms-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg>
              <span class="me-auto">Forms</span>
            </a>
            <div class="ms-5 collapse" id="forms-collapse" data-bs-parent="#mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="form-control.html">Form control</a></li>
                <li class="nav-item"><a class="nav-link" href="select.html">Select</a></li>
                <li class="nav-item"><a class="nav-link" href="checks-radios.html">Checks and radios</a></li>
                <li class="nav-item"><a class="nav-link" href="range.html">Range</a></li>
                <li class="nav-item"><a class="nav-link" href="input-group.html">Input group</a></li>
                <li class="nav-item"><a class="nav-link" href="floating-labels.html">Floating labels</a></li>
                <li class="nav-item"><a class="nav-link" href="layout.html">Layout</a></li>
                <li class="nav-item"><a class="nav-link" href="validation.html">Validation</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-label px-2 small mt-3"><small>ADVANCED</small></li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 dropdown-toggle" href="#advanced-components-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="advanced-components-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
              </svg>
              <span class="me-auto">Components</span>
            </a>
            <div class="ms-5 collapse" id="advanced-components-collapse" data-bs-parent="#mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="datatables.html">DataTables</a></li>
                <li class="nav-item"><a class="nav-link" href="sortable-list.html">Sortable list</a></li>
                <li class="nav-item"><a class="nav-link" href="stepper.html">Stepper</a></li>
                <li class="nav-item"><a class="nav-link" href="timeline.html">Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="touch-slider.html">Touch slider</a></li>
                <li class="nav-item"><a class="nav-link" href="treeview.html">Treeview</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 d-flex align-items-center gap-3 dropdown-toggle" href="#advanced-forms-collapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="advanced-forms-collapse">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>
              <span class="me-auto">Forms</span>
            </a>
            <div class="ms-5 collapse" id="advanced-forms-collapse" data-bs-parent="#mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="autocomplete.html">Autocomplete</a></li>
                <li class="nav-item"><a class="nav-link" href="autosize.html">Autosize textarea</a></li>
                <li class="nav-item"><a class="nav-link" href="color-picker.html">Color picker</a></li>
                <li class="nav-item"><a class="nav-link" href="date-picker.html">Date picker</a></li>
                <li class="nav-item"><a class="nav-link" href="dropdown-select.html">Dropdown select</a></li>
                <li class="nav-item"><a class="nav-link" href="input-mask.html">Input mask</a></li>
                <li class="nav-item"><a class="nav-link" href="input-touchspin.html">Input touchspin</a></li>
                <li class="nav-item"><a class="nav-link" href="markdown.html">Markdown</a></li>
                <li class="nav-item"><a class="nav-link" href="range-slider.html">Range slider</a></li>
                <li class="nav-item"><a class="nav-link" href="tag-input.html">Tag input</a></li>
                <li class="nav-item"><a class="nav-link" href="wysiwyg-editor.html">WYSIWYG editor</a></li>
              </ul>
            </div>
          </li>*@
        </ul>
      </div>
    </div>
    <!-- /Sidebar -->

    <!-- Main -->
    <div id="main">

      <!-- Main header -->
      <div id="main-header">
        <nav class="navbar navbar-expand navbar-light bg-white gap-4">
          <button type="button" class="btn btn-light d-none d-xl-flex" data-toggle="mini-sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
          </button>
          <button type="button" class="btn btn-light d-flex d-xl-none me-3" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
          </button>
          <ul class="navbar-nav align-items-center ms-auto">
            @if (_signInManager.IsSignedIn(User))
            {
                <li class="nav-item vr mx-3"></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle no-caret py-0 pe-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/assets/img/user/user1.svg" width="32" alt="User" class="rounded-circle" loading="lazy">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="javascript:void(0)">@(user.UserName)</a></li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Sign out</a></li>
                    </ul>
                </li>
            }            
          </ul>
        </nav>
      </div>
      <!-- /Main header -->

      <!-- Main body -->
      <div id="main-body">
        @RenderBody()
      </div>
      <!-- /Main body -->

      <!-- Main footer -->
      <div id="main-footer">
        <nav class="navbar navbar-expand navbar-light bg-white small shadow-sm">
          <span class="navbar-text">
            @DateTime.Now.Year &copy; Demo Project
          </span>
        </nav>
      </div>
      <!-- /Main footer -->

    </div>
    <!-- /Main -->

  </div>
  <!-- /Wrapper -->

 @* <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@

    <!-- Required JS -->
    <script src="~/assets/vendor/bootstrap/bootstrap.bundle.js"></script>
    <script src="~/assets/vendor/simplebar/simplebar.js"></script>
    <script src="~/assets/js/script.js"></script>

    <script src="~/assets/js/settings.js"></script>

    <script src="~/assets/vendor/apexcharts/apexcharts.js"></script>
    <script>
        new ApexCharts(document.querySelector('#orders'), {
            chart: {
                type: 'bar',
                sparkline: {
                    enabled: true
                },
                height: 50,
            },
            colors: ['#facc15'],
            series: [{
                name: 'orders',
                data: [30, 40, 35, 45, 40, 50]
            }],
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
            },
            plotOptions: {
                bar: {
                    columnWidth: '30%',
                    colors: {
                        backgroundBarColors: ['#f5f5f5', '#f5f5f5', '#f5f5f5', '#f5f5f5', '#f5f5f5'],
                    },
                    borderRadius: 4,
                },
            },
        }).render()

        new ApexCharts(document.querySelector('#profit'), {
            chart: {
                type: 'line',
                sparkline: {
                    enabled: true
                },
                height: 50,
            },
            colors: ['#0dcaf0'],
            series: [{
                name: 'profit',
                data: [10, 30, 15, 40, 25, 55]
            }],
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
            },
            stroke: {
                width: 2,
            },
        }).render()

        new ApexCharts(document.querySelector('#revenue'), {
            chart: {
                type: 'bar',
                height: 260,
                toolbar: {
                    show: false,
                }
            },
            colors: ['#facc15', '#6366f1'],
            series: [{
                name: 'expense',
                data: [17, 32, 50, 47, 19, 11, 30, 40, 13]
            },
            {
                name: 'earning',
                data: [34, 65, 104, 94, 38, 23, 61, 80, 26]
            },
            ],
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
            },
            plotOptions: {
                bar: {
                    columnWidth: '30%',
                    borderRadius: 4,
                },
            },
            dataLabels: {
                enabled: false
            },
            legend: {
                show: false,
            }
        }).render()

        new ApexCharts(document.querySelector('#budget'), {
            chart: {
                type: 'line',
                sparkline: {
                    enabled: true
                },
                height: 80,
                width: '80%',
            },
            colors: ['#6366f1'],
            series: [{
                data: [61, 48, 69, 52, 60, 40, 79, 60, 59, 43, 62]
            }],
            stroke: {
                width: 2,
                curve: 'smooth',
            },
            tooltip: {
                enabled: false,
            },
        }).render()

        new ApexCharts(document.querySelector('#earnings'), {
            series: [53, 16, 31],
            chart: {
                height: 150,
                type: 'donut',
                toolbar: {
                    show: false,
                },
            },
            labels: ['App', 'Service', 'Product'],
            dataLabels: {
                enabled: false,
            },
            legend: {
                show: false,
            },
            stroke: {
                width: 0,
            },
            colors: ['#6366f1', '#0dcaf0', '#facc15'],
        }).render()

        new ApexCharts(document.querySelector('#browser-stat-1'), {
            series: [54.4],
            chart: {
                width: 30,
                height: 30,
                type: 'radialBar',
            },
            plotOptions: {
                radialBar: {
                    hollow: {
                        size: '20%',
                    },
                    dataLabels: {
                        name: {
                            show: false,
                        },
                        value: {
                            show: false,
                        }
                    }
                },
            },
            stroke: {
                lineCap: 'round',
            },
            dataLabels: {
                enabled: false,
            },
            legend: {
                show: false,
            },
            grid: {
                show: false,
                padding: {
                    left: -15,
                    right: -15,
                    top: -15,
                    bottom: -15,
                },
            },
            colors: ['#6366f1'],
        }).render()

        new ApexCharts(document.querySelector('#browser-stat-2'), {
            series: [6.1],
            chart: {
                width: 30,
                height: 30,
                type: 'radialBar',
            },
            plotOptions: {
                radialBar: {
                    hollow: {
                        size: '20%',
                    },
                    dataLabels: {
                        name: {
                            show: false,
                        },
                        value: {
                            show: false,
                        }
                    }
                },
            },
            stroke: {
                lineCap: 'round',
            },
            dataLabels: {
                enabled: false,
            },
            legend: {
                show: false,
            },
            grid: {
                show: false,
                padding: {
                    left: -15,
                    right: -15,
                    top: -15,
                    bottom: -15,
                },
            },
            colors: ['#facc15'],
        }).render()

        new ApexCharts(document.querySelector('#browser-stat-3'), {
            series: [14.6],
            chart: {
                width: 30,
                height: 30,
                type: 'radialBar',
            },
            plotOptions: {
                radialBar: {
                    hollow: {
                        size: '20%',
                    },
                    dataLabels: {
                        name: {
                            show: false,
                        },
                        value: {
                            show: false,
                        }
                    }
                },
            },
            stroke: {
                lineCap: 'round',
            },
            dataLabels: {
                enabled: false,
            },
            legend: {
                show: false,
            },
            grid: {
                show: false,
                padding: {
                    left: -15,
                    right: -15,
                    top: -15,
                    bottom: -15,
                },
            },
            colors: ['#4b5563'],
        }).render()

        new ApexCharts(document.querySelector('#browser-stat-4'), {
            series: [4.2],
            chart: {
                width: 30,
                height: 30,
                type: 'radialBar',
            },
            plotOptions: {
                radialBar: {
                    hollow: {
                        size: '20%',
                    },
                    dataLabels: {
                        name: {
                            show: false,
                        },
                        value: {
                            show: false,
                        }
                    }
                },
            },
            stroke: {
                lineCap: 'round',
            },
            dataLabels: {
                enabled: false,
            },
            legend: {
                show: false,
            },
            grid: {
                show: false,
                padding: {
                    left: -15,
                    right: -15,
                    top: -15,
                    bottom: -15,
                },
            },
            colors: ['#0dcaf0'],
        }).render()

        new ApexCharts(document.querySelector('#browser-stat-5'), {
            series: [8.4],
            chart: {
                width: 30,
                height: 30,
                type: 'radialBar',
            },
            plotOptions: {
                radialBar: {
                    hollow: {
                        size: '20%',
                    },
                    dataLabels: {
                        name: {
                            show: false,
                        },
                        value: {
                            show: false,
                        }
                    }
                },
            },
            stroke: {
                lineCap: 'round',
            },
            dataLabels: {
                enabled: false,
            },
            legend: {
                show: false,
            },
            grid: {
                show: false,
                padding: {
                    left: -15,
                    right: -15,
                    top: -15,
                    bottom: -15,
                },
            },
            colors: ['#ef4444'],
        }).render()

        new ApexCharts(document.querySelector('#goal'), {
            chart: {
                height: 245,
                type: 'radialBar',
            },
            colors: ['#16a34a'],
            plotOptions: {
                radialBar: {
                    offsetY: -10,
                    startAngle: -150,
                    endAngle: 150,
                    hollow: {
                        size: '77%'
                    },
                    track: {
                        background: '#e5e7eb',
                    },
                    dataLabels: {
                        name: {
                            show: false
                        },
                        value: {
                            fontSize: '2rem',
                        }
                    }
                }
            },
            series: [83],
            stroke: {
                lineCap: 'round'
            }
        }).render()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
