﻿@model DemoProject.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}

<img src="~/assets/img/logo.svg" alt="Mimity admin" width="32" height="32" class="mb-3">
<h1 class="fw-black mb-2">Sign in to your account</h1>
<p class="fw-light text-secondary mb-4">Welcome! Please sign in to continue.</p>
<form id="account" method="post" class="needs-validation" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label fw-bold" for="InputEmail">Email address</label>
        <input asp-for="Email" type="email" class="form-control" id="InputEmail" placeholder="yourname@yourmail.com" autocomplete="off" autofocus required>
        <div class="invalid-feedback">Enter an email.</div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label fw-bold" for="InputPassword">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="InputPassword" placeholder="Enter your password" maxlength="12" required>
        <div class="invalid-feedback">Enter a password.</div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="remember">
            <label asp-for="RememberMe" class="form-check-label" for="remember">
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>        
    </div>
    <button id="login-submit" type="submit" class="btn btn-primary w-100">Log in</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}