﻿@model DemoProject.Entities.AspNetUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create User</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="FullName" class="control-label"></label>
                        <input type="text" asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input type="text" asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PasswordHash" class="control-label">Password</label>
                            <input type="password" asp-for="PasswordHash" class="form-control" />
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input type="tel" asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CreateDate" class="control-label"></label>
                            <input type="date" asp-for="CreateDate" class="form-control" />
                            <span asp-validation-for="CreateDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="form-group mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <input type="reset" value="Cancel" class="btn btn-warning w-100" />
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Create" class="btn btn-info w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
