﻿@model DemoProject.Entities.AspNetUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit User</h3>

<div class="card">
    <div class="card-body">
        <div class="form-group mb-3">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="FullName" class="control-label"></label>
                                    <input type="text" asp-for="FullName" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="UserName" class="control-label"></label>
                                        <input type="text" asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input type="email" asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input type="tel" asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="CreateDate" class="control-label"></label>
                                        <input type="date" asp-for="CreateDate" class="form-control" />
                                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <a asp-action="Index" class="btn btn-warning w-100">Reset</a>
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" value="Save" class="btn btn-info w-100" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
