﻿@model IEnumerable<DemoProject.Entities.AspNetUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/vendor/datatables/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="~/assets/vendor/datatables/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/assets/css/datatables.css">
}

<nav aria-label="breadcrumb" id="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <div class="row">
            <p>
                <a asp-action="Create" class="btn btn-primary mb-2 mr-2">New</a>
                @*<button type="button" class="btn btn-primary mb-2 mr-2" data-toggle="modal" data-target="#fadeinModal">New</button>*@
            </p>
        </div>
        <table id="example" class="table table-striped table-bordered table-sm dt-responsive nowrap w-100">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                            @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                            Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/datatables/dataTables.bootstrap5.js"></script>
    <script src="~/assets/vendor/datatables/dataTables.responsive.js"></script>
    <script src="~/assets/vendor/datatables/responsive.bootstrap5.js"></script>
    <script>
        $(() => {
          // Run datatable
          var table = $('#example').DataTable({
            drawCallback: function() {
              $('.dataTables_paginate > .pagination').addClass('pagination-sm') // make pagination small
            }
          })
          // Apply column filter
          $('#example .dt-column-filter th').each(function(i) {
            $('input', this).on('keyup change', function() {
              if (table.column(i).search() !== this.value) {
                table
                  .column(i)
                  .search(this.value)
                  .draw()
              }
            })
          })
          // Toggle Column filter function
          var responsiveFilter = function(table, index, val) {
            var th = $(table).find('.dt-column-filter th').eq(index)
            val === true ? th.removeClass('d-none') : th.addClass('d-none')
          }
          // Run Toggle Column filter at first
          $.each(table.columns().responsiveHidden(), function(index, val) {
            responsiveFilter('#example', index, val)
          })
          // Run Toggle Column filter on responsive-resize event
          table.on('responsive-resize', function(e, datatable, columns) {
            $.each(columns, function(index, val) {
              responsiveFilter('#example', index, val)
            })
          })
        })
    </script>
}