﻿@model DemoProject.Entities.Player

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Delete Position</h3>

<h4>Are you sure you want to delete this data?</h4>
<div>
    <hr />
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PlayerName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PlayerName)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="PositionId" />
                <input type="submit" value="Delete" class="btn btn-danger w-100" /> |
                <a asp-action="Index" class="btn btn-primary w-100">No</a>
            </form>
        </div>
    </div>
</div>
