﻿@model DemoProject.Entities.Player

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit Player</h3>

<div class="card">
    <div class="card-body">
        <div class="form-group mb-3">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="PlayerId" />
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PlayerName" class="control-label"></label>
                                        <input asp-for="PlayerName" class="form-control" />
                                        <span asp-validation-for="PlayerName" class="text-danger"></span>
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="JerseyNumber" class="control-label"></label>
                                        <input asp-for="JerseyNumber" class="form-control" />
                                        <span asp-validation-for="JerseyNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PositionId" class="control-label"></label>
                                        @*<input asp-for="PositionId" class="form-control" />*@
                                        <select asp-for="PositionId" class="form-control" id="cboPosition" required>
                                            <option selected>Select position</option>
                                        </select>
                                        <span asp-validation-for="PositionId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="NationalityId" class="control-label"></label>
                                        @*<input asp-for="NationalityId" class="form-control" />*@
                                        <select asp-for="NationalityId" class="form-control" id="cboNationality" required>
                                            <option selected>Select nationality</option>
                                        </select>
                                        <span asp-validation-for="NationalityId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="BirthDate" class="control-label"></label>
                                        <input asp-for="BirthDate" class="form-control" />
                                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="BirthPlace" class="control-label"></label>
                                        <input asp-for="BirthPlace" class="form-control" />
                                        <span asp-validation-for="BirthPlace" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Weight" class="control-label"></label>
                                        <input asp-for="Weight" class="form-control" />
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Height" class="control-label"></label>
                                        <input asp-for="Height" class="form-control" />
                                        <span asp-validation-for="Height" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <a asp-action="Index" class="btn btn-warning w-100">Reset</a>
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" value="Save" class="btn btn-info w-100" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/demo.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
