﻿@*@model IEnumerable<DemoProject.Entities.Player>*@
@model IEnumerable<DemoProject.Models.PlayerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/vendor/datatables/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="~/assets/vendor/datatables/responsive.bootstrap5.css">
    <link rel="stylesheet" href="~/assets/css/datatables.css">
}

<nav aria-label="breadcrumb" id="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Players</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <div class="row">
            <p>
                <a asp-action="Create" class="btn btn-primary mb-2 mr-2">New</a>
            </p>
        </div>
        <table id="example" class="table table-striped table-bordered table-sm dt-responsive nowrap w-100">
            <thead>
                <tr>
                    <th>
                        Player Name
                    </th>
                    <th>
                        Jersey No
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Nationality
                    </th>
                    <th>
                        Birth Date
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Height
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JerseyNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Height)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.PlayerId" id="btnEdit">Edit</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script src="~/assets/vendor/jquery/jquery.js"></script>
    <script src="~/assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/datatables/dataTables.bootstrap5.js"></script>
    <script src="~/assets/vendor/datatables/dataTables.responsive.js"></script>
    <script src="~/assets/vendor/datatables/responsive.bootstrap5.js"></script>
    <script>
        $(() => {
            // Run datatable
            var table = $('#example').DataTable({
                drawCallback: function () {
                    $('.dataTables_paginate > .pagination').addClass('pagination-sm') // make pagination small
                }
            })
            // Apply column filter
            $('#example .dt-column-filter th').each(function (i) {
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw()
                    }
                })
            })
            // Toggle Column filter function
            var responsiveFilter = function (table, index, val) {
                var th = $(table).find('.dt-column-filter th').eq(index)
                val === true ? th.removeClass('d-none') : th.addClass('d-none')
            }
            // Run Toggle Column filter at first
            $.each(table.columns().responsiveHidden(), function (index, val) {
                responsiveFilter('#example', index, val)
            })
            // Run Toggle Column filter on responsive-resize event
            table.on('responsive-resize', function (e, datatable, columns) {
                $.each(columns, function (index, val) {
                    responsiveFilter('#example', index, val)
                })
            })
        })
    </script>
}



